#highScoresList {
  list-style: none;
  padding-left: 0;
  color: #56a5eb;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: #0d8bf1;
  font-style: italic;
  font-variant: small-caps;
}

.high-score:hover {
  transform: scale(1.025);
}
